*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #060447;
    color: #FFF38A;
}
.container {
    display: flex;
    height: 90vh;
}
.description-bloc {
    margin-top: 10%;
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 220px;

}
.text-bloc {
    display: none;
    width: 60%;
    line-height: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.text-bloc.active {
    display: block;
}
.text-bloc.active.animGauche {
    animation: apparitionGauche 500ms linear;
}
.text-bloc.active.animDroite {
    animation: apparitionDroite 500ms linear;
}
.text-bloc h2 {
    font-size: 28px;
    margin-top: 10px;
}
.text-bloc p {
    width: 380px;
    font-size: 18px;
    margin-top: 10px;
}

.bloc-images img {
    display: none;
    margin-top: 180px;
}
.bloc-images img.active {
    display: block;
}

.bloc-images img.active.animDroite {
    animation: apparitionDroite 500ms linear;
}
.bloc-images img.active.animGauche {
    animation: apparitionGauche 500ms linear;
}
.date {
    display: none;
}
.date.active {
    display: block;
}

.date.active span {
    font-size: 12em;
    font-family: Dela Gothic One, sans-serif;
}
.navigation {
    margin-left: 220px;
    width: 100px;
}
.arrows {
    display: flex;
    justify-content: space-between;
}
.fa-solid {
    font-size: 24px;
    color: #827B68;
    cursor: pointer;
}
.fa-solid.active {
   color: #FFF38A
}

@keyframes apparitionDroite {
    from {
        transform:translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes apparitionGauche {
    from {
        transform:translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}